<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiNa_Deploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<NiNa_Deploy.Properties.Settings>
      <setting name="FileExtensions" serializeAs="String">
          <value>.bat|cmd.exe|
.cab|dism.exe|/online /add-package /packagepath:#PACKAGE
.cmd|cmd.exe|/C #PACKAGE
.exe||
.msi|msiexec.exe|/i #PACKAGE /quiet /norestart
.msp|msiexec.exe|/p #PACKAGE /quiet /norestart
.msu|wusa.exe|#PACKAGE /quiet /norestart
.ps1|powershell.exe|-file #PACKAGE -verb runas -ExecutionPolicy Bypass
.reg|reg32.exe|/s #PACKAGE
.vbs|cscript.exe|#PACKAGE
Custom</value>
      </setting>
      <setting name="TempLocation" serializeAs="String">
          <value>C:\Windows\Temp\NiNa</value>
      </setting>
      <setting name="PingTimeout" serializeAs="String">
          <value>1000</value>
      </setting>
      <setting name="PsExecLocation" serializeAs="String">
          <value />
      </setting>
      <setting name="MaxThreads" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="ThreadInterval" serializeAs="String">
          <value>500</value>
      </setting>
      <setting name="PsExecAsSystem" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="Domains" serializeAs="String">
          <value>USAF.MIL|UNCLASSIFIED/CUI|NIPRNET
SMIL.MIL|CLASSIFIED/SECRET/SIPRNET</value>
      </setting>
  </NiNa_Deploy.Properties.Settings>
    </userSettings>
</configuration>