<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NiNa_Deploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<NiNa_Deploy.Properties.Settings>
      <setting name="FileExtensions" serializeAs="Xml">
          <value>
              <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <string>.bat|cmd.exe|</string>
                  <string>.cab|dism.exe|/online /add-package /packagepath:#PACKAGE</string>
                  <string>.cmd|cmd.exe|/C #PACKAGE</string>
                  <string>.exe||</string>
                  <string>.msi|msiexec.exe|/i #PACKAGE /quiet /norestart</string>
                  <string>.msp|msiexec.exe|/p #PACKAGE /quiet /norestart</string>
                  <string>.msu|wusa.exe|#PACKAGE /quiet /norestart</string>
                  <string>.ps1|powershell.exe|-file #PACKAGE -verb runas</string>
                  <string>.reg|reg32.exe|/s #PACKAGE</string>
                  <string>.vbs|cscript.exe|#PACKAGE</string>
                  <string>Custom</string>
              </ArrayOfString>
          </value>
      </setting>
      <setting name="TempLocation" serializeAs="String">
          <value>C:\Windows\Temp\NiNa</value>
      </setting>
      <setting name="PingTimeout" serializeAs="String">
          <value>1000</value>
      </setting>
      <setting name="PsExecLocation" serializeAs="String">
          <value />
      </setting>
      <setting name="MaxPsExecProcs" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="PsExecInterval" serializeAs="String">
          <value>500</value>
      </setting>
      <setting name="PsExecAsSystem" serializeAs="String">
          <value>True</value>
      </setting>
  </NiNa_Deploy.Properties.Settings>
    </userSettings>
</configuration>